footer {width:100%;}
.phone-numb {display:inline-block;font-size:42px;line-height:1.2em;font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;letter-spacing:-1px;margin-top:-4px}
	.phone-numb span {display:inline-block;	font-size:28px;	color:#949494;	padding-top:3px}
.list-services {padding:0}
	.list-services li {float:left;	padding:0 0 0 20px}
	.list-services li:first-child {padding:0}
		.list-services li a {	display:block;width:60px;height:45px;background:url(../images/social-icons.png) left top no-repeat;	}
		.list-services li a.item-2 {background-position:-80px 0}
		.list-services li a.item-3 {background-position:-160px 0}
		.list-services li a.item-4 {background-position:-240px 0}
.footer-top{
	padding: 20px 30px;
    border-top: 1px solid #2c2c2c;
    background-color: #1d1d1d;
    
}
.footer-bottom{
	padding: 40px 0 60px;
    background-color: #1d1d1d;
    border-top: 1px solid #2c2c2c;
    text-align: left;
    color:#6A6C61;
}