body {
	padding-top: 100px;
}

#logo {
	width: 250px;
	height: 75px;
}

#content2 {
	width: 95%;
	height: 100px;
	background-color: black;
	position: fixed;
	top: 0px;
	right: 0px;
	left: 0px;
	z-index: 1; 
	opacity: 0.9;
}

#utility {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 465px;
	height: 30px;
}

#utility #toprightMenu>li {
	display: inline;
	border-left: 1px solid #777;
	font: lighter 13px 'Malgun Gothic';
	padding: 0 10px;
}

#utility #toprightMenu>li>a {
	color: white;
}

#utility #toprightMenu>li:FIRST-CHILD {
	border-left: none;
}

#topMenu {
	position: relative;
	width: 1200px;
	margin-left: 300px;
}

#topMenu ul {
	padding-top: 49.5px;
	padding-left: 0px;
}

#topMenu ul li {
	list-style: none;
	color: white;
	background-color: #2d2d2d;
	float: left;
	line-height: 30px;
	vertical-align: middle;
	text-align: center;
}

#topMenu .menuLink {
	text-decoration: none;
	color: white;
	display: block;
	width: 100px;
	font-size: 14px;
	font-weight: bold;
	font-family: "Trebuchet MS", Dotum, Arial;
}

#topMenu .menuLink:hover {
	color: #aaa;
	background-color: #111;
}

#toprightMenu {
	list-style: none;
	margin: 10px;
	padding: 0;
	text-align: right;
	color: #fff;
	height: 20px;
}

#toprightMenu>li {
	display: inline;
	color: #fff;
}

.submenu {
	list-style: none;
	display: none;
	background-color: #fff;
	border: 1px solid #aaa;
	border-radius: 5px;
	height: 130px;
	padding-left: 0px;
	background-color: #ffffff;
}

.submenuShow{
	display: inline-block;
}

.submenu li {
	text-align: center;
	padding: 10px;
}

.submenu li a {
	color: #286090;
}

#utility #toprightMenu .dropdown ul {
	color: #ddd;
}

#toprightMenu a:hover {
	text-decoration: none;
}

a#menu{
	position: absolute;
	top: 55px;
	right: 0px;
	margin: 0 auto;
	text-decoration: none;
	display: none;
}

@media ( max-width : 992px) {
	#topMenu{
		width: auto;
		margin-left: 0px;
	}
	#topMenu ul{
		display: none;
		position: absolute;
		padding-top: 0;
		top: 100px;
		width: 100%;
	}
	#topMenu ul li{
		float: none;
	}
	#topMenu .menuLink{
		width: auto;
	}
	a#menu{
		color: #fff;
		display: inline;
	}
}

@media ( min-width : 992px) {
	#topMenu ul {
		padding-left: 0px;
		display: block;
	}	
}

@media ( min-width : 1200px) {
	#topMenu ul {
		padding-left: 150px;
	}
}

@media ( min-width : 1600px) {
	#topMenu ul {
		padding-left: 300px;
	}
}


#con {
	text-align: center;
	margin-top: 100px;
	margin-bottom: 50px;
	background-color: orange;
}

#con ul {
	display: inline-block;
	padding-left: 0px;
	margin-bottom: 25px;
}

#con ul li {
	float: left;
	list-style: none;
	line-height: 50px;
	vertical-align: middle;
	text-align: center;
	background-color: #999;
}

#con ul li a {
	text-decoration: none;
	display: block;
	width: 150px;
	height: 50px;
}
